# Gradle files
.gradle
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties

# IDEA/Android Studio project files
*.iml
.idea/*
!.idea/copyright

# Windows thumbnail db
.DS_Store

# Android Studio captures
captures/

# Custom
/app/src/test/*
/app/src/androidTest/*
